

<div class="about-container">
    <h1>Om uppgift</h1>

    <h3>Introduktion</h3>
    <p>Denna undersida beskriver mitt arbete med att skapa en webbplats med Angular som en del av kursen ”Programmering i TypeScript”. Jag kommer att gå igenom hur jag löste uppgiften och vilka slutsatser jag dragit från arbetet.</p>

    <h3>Funktioner</h3>
    <p>På startsidan lade jag till grundläggande information och en bild för att uppfylla kravet om minst en bild på webbplatsen. För konverteringssidan implementerade jag funktionaliteten för att konvertera mellan meter och fot samt Celsius och Fahrenheit. Detta löste jag genom att använda Angulars databindning och komponentbaserade arkitektur. Genom att skapa två inmatningsfält och två resultatfält kunde användaren enkelt mata in ett värde i antingen meter eller Celsius och få det konverterade resultatet i respektive enhet.</p>

    <h3>Reflektion</h3>
    <p>Genom projektet har jag fått en bättre förståelse för Angular och hur använding av komponenter kan underlätta konstruktionen av kodstrukturen. Det var väldigt smidigt att leta efter specifika delar av koden vare sig jag ville utveckla "header" eller en specifik styling på en undersida, genom komponentbaserad arkitektur och databindning var det smidigare att skapa en användarvänliga gränssnitt. Att använda Angular CLI har också gett mig praktisk erfarenhet av att snabba upp utvecklingsprocessen. Att skapa en strukturerad och fungerande webbplats från grunden har varit både utmanande och lärorikt. </p>
</div>
