* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: #8C92AC;
    padding: 20px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
    background-color: #8C92AC;
}