<div class="home-container">
    <h2>Våran enhetsomvandlare:</h2>
    <h4>Konvertera Celsius till Fahrenheit och meter till fot med lätthet</h4>

    <img [src]="image" alt="Eu och Usa flagga">

    <p>För många resenärer kan det vara förvirrande att hantera olika enheter för temperatur och längd, särskilt när de byter mellan kontinenter. Vår hemsida är utformad för att lösa detta problem genom att erbjuda snabba och tillförlitliga konverteringar direkt från webbläsaren.</p>
</div>

<a routerLink="/convert" routerLinkActive="current">Convert</a>

